body {
    background-color: #FEFCF3;
}

hr{
    border-style: none;
    border-color: gray;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
}
img{
    height: 200px;
}

h1{
    color: #66BFBF;
}

h3{
    color: #66BFBF;
}

.vinh-nav{
    background-color: #666363;
    height: 70px;
}

.nav-menu{
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 50%;
    top: 25%;
}

.item-title {
    margin: 5px; 
}